## Analisando os dados disponibilizados

#### Importando bibliotecas

In [17]:
# importa módulos
import pandas as pd
from unidecode import unidecode

#### Criando os DF com os dados csv

In [18]:
# lê arquivos
escolas = pd.read_csv("escolas.csv")
material_didatico = pd.read_csv("material_didatico.csv")
subprefeituras = pd.read_csv("subprefeituras.csv")

In [19]:
print(50*"*")
print("    DF ESCOLAS")
print(50*"-")
print(escolas.info())
print(50*"-")
print("\n")
display(escolas.head(5))
display(escolas.tail(5))
print(50*"*")

**************************************************
    DF ESCOLAS
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              152 non-null    int64
 1   Escolas_Postos  152 non-null    object
 2   BAIRRO          152 non-null    object
 3   ENDEREÇO        152 non-null    object
 4   lat             152 non-null    object
 5   lon             152 non-null    object
dtypes: int64(1), object(5)
memory usage: 7.2+ KB
None
--------------------------------------------------

,id,Escolas_Postos,BAIRRO,ENDEREÇO,lat,lon
0,178,CENTRO INTEGRADO DE EDUCAÇÃO PÚBLICA HENFIL,CAJU,Rua Carlos Seidl S/Nº,"-22,880888","-43,225326"
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,Rua Ébano 187,"-22,889574","-43,236202"
2,483,EM CELESTINO SILVA,CENTRO,"R. do Lavradio, 56","-22,909293","-43,183579"
3,476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,SÃO CRISTÓVÃO,Praça Argentina 20,"-22,897629","-43,227456"
4,132,EM PEREIRA PASSOS,RIO COMPRIDO,Praça Condessa Paulo de Frontin 45,"-22,924412","-43,208579"

,id,Escolas_Postos,BAIRRO,ENDEREÇO,lat,lon
147,474,EM ENGENHEIRO GASTÃO RANGEL,GUARATIBA,Estrada Do Magarça 9.183,"-22,98046","-43,643545"
148,301,EM JONATAS SERRANO,GUARATIBA,"Estrada Do Mato Alto, S/Nº","-22,953163","-43,577409"
149,215,E.M. NARCISA AMALIA,ILHA DE GUARATIBA,Estrada Teodoreto de Camargo S/N.º,"-23,009084","-43,537582"
150,606,EM PROFESSOR CASTILHO,ILHA DE GUARATIBA,Caminho da Matriz 4406,"-22,994124","-43,593683"
151,69,ESCOLA MUNICIPAL CARDEAL ARCOVERDE,MADUREIRA,Rua Agostinho Barbalho 401,"-22,876082","-43,343369"

**************************************************

In [20]:
print(50*"*")
print("    DF material_didatico")
print(50*"-")
print(material_didatico.info())
print(50*"-")
print("\n")
display(material_didatico.head(5))
display(material_didatico.tail(5))
print(50*"*")

**************************************************
    DF material_didatico
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          151 non-null    int64
 1   Quantidade  147 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.5+ KB
None
--------------------------------------------------

    id Quantidade
0  178         20
1  634        121
2  483        220
3  476        190
4  132         67

      id Quantidade
146  474        320
147  301        335
148  215        NaN
149  606        521
150  590        225

**************************************************

In [21]:
print(50*"*")
print("    DF subprefeituras")
print(50*"-")
print(subprefeituras.info())
print(50*"-")
print("\n")
display(subprefeituras.head(5))
display(subprefeituras.tail(5))
print(50*"*")

**************************************************
    DF subprefeituras
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nome           164 non-null    object
 1   subprefeitura  164 non-null    object
dtypes: object(2)
memory usage: 2.7+ KB
None
--------------------------------------------------

           nome subprefeitura
0  Santo Cristo        Centro
1        Gamboa        Centro
2         Saúde        Centro
3          Caju        Centro
4        Centro        Centro

                   nome subprefeitura
159          Santa Cruz    Zona Oeste
160           Guaratiba    Zona Oeste
161  Barra de Guaratiba    Zona Oeste
162  Pedra de Guaratiba    Zona Oeste
163   Ilha de Guaratiba    Zona Oeste

**************************************************

### Realizando a limpeza e tratamento dos dados

a.1) converter tipo coluna de objeto para inteiro
    - substituir NaN e None por 0
    - substituir '' e ' ' por 0
    - substituir 'NaN' por 0
    - converter valor numérico do tipo objeto para int (Ex.: '356' para 356)

#### Tratamento da tabela ```material_didatico```

In [22]:
material_didatico_copy_1 = material_didatico.copy()

In [23]:
# normalizar nomes das colunas
cols = material_didatico_copy_1.columns
for col in cols:
    material_didatico_copy_1.rename(columns={col: unidecode(col.lower().strip())}, inplace=True)

In [24]:
# remove valores nulos
material_didatico_copy_2 = material_didatico_copy_1.copy()
material_didatico_copy_2['quantidade'].fillna('0', inplace=True)

In [25]:
# converter todos os valores da coluna para int
material_didatico_copy_2['quantidade'] = material_didatico_copy_2['quantidade'].apply(lambda x: int(x) if x.isdigit() else 0)

In [26]:
# # Modo 2
# import re

# def normaliza_quantidade(valor) -> int:
#     if valor:
#         normaliza_valor = re.sub(r"[^\d: ]", "", valor.strip())
#         if normaliza_valor:
#             return int(normaliza_valor)
#         else:
#             return 0
#     else:
#         return 0
    
# material_didatico['quantidade'] = material_didatico['quantidade'].apply(lambda x: normaliza_quantidade(x))

In [27]:
material_didatico_copy_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          151 non-null    int64
 1   quantidade  151 non-null    int64
dtypes: int64(2)
memory usage: 2.5 KB

In [28]:
material_didatico_copy_2

      id  quantidade
0    178          20
1    634         121
2    483         220
3    476         190
4    132          67
..   ...         ...
146  474         320
147  301         335
148  215           0
149  606         521
150  590         225

[151 rows x 2 columns]

#### Tratamento da tabela ```subprefeitura```

In [29]:
subprefeituras_copy_1 = subprefeituras.copy()

In [30]:
# normalizar nomes das colunas
cols = subprefeituras_copy_1.columns
for col in cols:
    subprefeituras_copy_1.rename(columns={col: unidecode(col.lower().strip())}, inplace=True)

In [31]:
# converter letras em minúsculos e remover acentos
subprefeituras_copy_2 = subprefeituras_copy_1.copy()
subprefeituras_copy_2 = subprefeituras_copy_2.applymap(lambda x: unidecode(x.upper()))

/var/folders/v4/_k126zzs2gjbjs4jf27xhzvw0000gn/T/ipykernel_4723/603377882.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  subprefeituras_copy_2 = subprefeituras_copy_2.applymap(lambda x: unidecode(x.upper()))

In [32]:
subprefeituras_copy_2

                   nome subprefeitura
0          SANTO CRISTO        CENTRO
1                GAMBOA        CENTRO
2                 SAUDE        CENTRO
3                  CAJU        CENTRO
4                CENTRO        CENTRO
..                  ...           ...
159          SANTA CRUZ    ZONA OESTE
160           GUARATIBA    ZONA OESTE
161  BARRA DE GUARATIBA    ZONA OESTE
162  PEDRA DE GUARATIBA    ZONA OESTE
163   ILHA DE GUARATIBA    ZONA OESTE

[164 rows x 2 columns]

#### Tratamento da tabela ```escolas```

In [33]:
escolas_copy_1 = escolas.copy()

In [34]:
# normalizar nomes das colunas
cols = escolas_copy_1.columns
for col in cols:
    escolas_copy_1.rename(columns={col: unidecode(col.lower().strip())}, inplace=True)

In [35]:
# normaliza coluna id (3 caracteres. Ex: '024')
# Modo 1
escolas_copy_2 = escolas_copy_1.copy()
escolas_copy_2['id'] = escolas_copy_2['id'].apply(lambda x: str(x).zfill(3))

In [36]:
# # Modo 2
# escolas_copy_2_modo2 = escolas_copy_1.copy()
# escolas_copy_2_modo2['id'] = escolas_copy_2_modo2['id'].astype(str).str.zfill(3)

In [37]:
# Modo 1
# normalizar coluna lat com 5 casas decimais
escolas_copy_3 = escolas_copy_2.copy()
for col in ['lat', 'lon']:
    escolas_copy_3[col] = escolas_copy_3[col].str.replace(",", ".").astype(float).apply(lambda x: round(x, 5))

In [38]:
# # Modo 2
# # normalizar coluna lat com 5 casas decimais
# escolas_copy_3_modo2 = escolas_copy_2.copy()
# for col in ['lat', 'lon']:
#     escolas_copy_3_modo2[col] = escolas_copy_3_modo2[col].str.replace(",", ".").astype(float).round(5)

In [39]:
escolas_copy_4 = escolas_copy_3.copy()

In [40]:
# normalizar colunas (remove acentos e string em maiúsculo)
escolas_copy_4 = escolas_copy_3.copy()
escolas_copy_4[['escolas_postos', 'bairro', 'endereco']] = escolas_copy_4[['escolas_postos', 'bairro', 'endereco']].applymap(lambda x: unidecode(x.upper()))

/var/folders/v4/_k126zzs2gjbjs4jf27xhzvw0000gn/T/ipykernel_4723/2677334891.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  escolas_copy_4[['escolas_postos', 'bairro', 'endereco']] = escolas_copy_4[['escolas_postos', 'bairro', 'endereco']].applymap(lambda x: unidecode(x.upper()))

##### Substituir abreviações de endereço

In [41]:
escolas_copy_5 = escolas_copy_4.copy()

In [42]:
# verificar possíveis abreviações
abreviacoes = set()

for i, linha_escola in escolas_copy_5.iterrows():
    lista_palavra_endereco = linha_escola['endereco'].split()
    for palavra in lista_palavra_endereco:
        if len(palavra) <= 3 and not palavra.isdigit():
            abreviacoes.update([palavra])

abreviacoes

{'ANA',
 'AV',
 'AV.',
 'DA',
 'DAS',
 'DE',
 'DO',
 'DOM',
 'DOS',
 'E',
 'JR',
 'KM',
 'PAU',
 'R.',
 'RIO',
 'RUA',
 'S/N',
 'SD.',
 'UBA'}

In [43]:
# verificar possíveis abreviações para logradouros
filtro_abreviacoes = [abreviacao for abreviacao in abreviacoes if abreviacao.startswith('R') or abreviacao.startswith('AV')]
filtro_abreviacoes

['AV', 'RIO', 'AV.', 'R.', 'RUA']

In [47]:
# normalizar coluna endereco (substituir abreviações de logradouro)
escolas_copy_5 = escolas_copy_4.copy()
escolas_copy_5['endereco'] = escolas_copy_5['endereco'].str.replace('R. ', 'RUA ', regex=True).replace('AV. ', 'AVENIDA ', regex=True).replace('AV ', 'AVENIDA ', regex=True)

In [45]:
display(escolas_copy_5.head(5))

,id,escolas_postos,bairro,endereco,lat,lon
0,178,CENTRO INTEGRADO DE EDUCACAO PUBLICA HENFIL,CAJU,RUA CARLOS SEIDL S/No,-22.88089,-43.22533
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,RUA EBANO 187,-22.88957,-43.23620
2,483,EM CELESTINO SILVA,CENTRO,"RUA DO LAVRADIO, 56",-22.90929,-43.18358
3,476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,SAO CRISTOVAO,PRACA ARGENTINA 20,-22.89763,-43.22746
4,132,EM PEREIRA PASSOS,RIO COMPRIDO,PRACA CONDESSA PAULO DE FRONTIN 45,-22.92441,-43.20858

In [49]:
escolas_copy_5.columns

Index(['id', 'escolas_postos', 'bairro', 'endereco', 'lat', 'lon'], dtype='object')

In [46]:
# valida normalização de abreviações do campo endereco
for i, linha_escola_2 in escolas_copy_5.iterrows():
    if linha_escola_2['endereco'].startswith('R. ')  or \
       linha_escola_2['endereco'].startswith('AV. ') or \
       linha_escola_2['endereco'].startswith('AV '):
        print(linha_escola_2)

##### Adicionar vírgula para o número do endereço e unificar os SN

In [67]:
import re
# Função para adicionar vírgula entre endereço e número
def add_comma_to_address(address):
    # Use expressões regulares para encontrar o número no final do endereço
    match = re.search(r'(\d+(\.\d+)?)$', address)
    
    if match:
        # Se um número for encontrado, adicione uma vírgula antes dele
        address_with_comma = re.sub(r'(\d+(\.\d+)?)$', r', \1', address)
        return address_with_comma
    else:
        return address

# Função para tratar as diversas maneiras de endereços sem numero para `SN``
def replace_s_n(text):
    # Lista de trechos a serem substituídos
    to_replace = ["S/No", "S/N.o", "S/N", "S/N.deg", "S/Ndeg"]
    
    # Substituir os trechos na string
    for item in to_replace:
        text = text.replace(item, "SN")
    
    return text

In [68]:
escolas_copy_6 = escolas_copy_5.copy()

# Aplicar a função à coluna 'endereco' do DataFrame
escolas_copy_6['endereco'] = escolas_copy_6['endereco'].apply(add_comma_to_address)


escolas_copy_6.loc[:,'endereco'] = escolas_copy_6['endereco'].apply(replace_s_n)
# Exibir o DataFrame resultante
print(escolas_copy_6.head())

    id                               escolas_postos         bairro  \
0  178  CENTRO INTEGRADO DE EDUCACAO PUBLICA HENFIL           CAJU
1  634                   EM ALICE DO AMARAL PEIXOTO        BENFICA
2  483                           EM CELESTINO SILVA         CENTRO
3  476            ESCOLA MUNICIPAL FLORIANO PEIXOTO  SAO CRISTOVAO
4  132                            EM PEREIRA PASSOS   RIO COMPRIDO

                               endereco       lat       lon
0                   RUA CARLOS SEIDL SN -22.88089 -43.22533
1                       RUA EBANO , 187 -22.88957 -43.23620
2                 RUA DO LAVRADIO, , 56 -22.90929 -43.18358
3                  PRACA ARGENTINA , 20 -22.89763 -43.22746
4  PRACA CONDESSA PAULO DE FRONTIN , 45 -22.92441 -43.20858

In [70]:
escolas_copy_6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              152 non-null    object
 1   escolas_postos  152 non-null    object
 2   bairro          152 non-null    object
 3   endereco        152 non-null    object
 4   lat             152 non-null    float64
 5   lon             152 non-null    float64
dtypes: float64(2), object(4)
memory usage: 7.2+ KB

## Faltam os seguintes tratamentos:

- tratar as linhas com mais de uma vírgula separando o número do endereço
- separar logradouro e número do endereço em colunas distintas


Saída esperada: 

    Arquivo csv contendo os dados no padrão especificado

    As escolas ordenadas em que os materiais didáticos devem ser entregues e com as colunas contendo as colunas:
````
['id da escola', 'nome da escola', 'tipo da escola (EM, CIEP ou colégio)', 'logradouro da entrega', 'número', 'bairro', 'subprefeitura', 'latitude', 'longitude', 'quantidade de material didático']
````