## Analisando os dados disponibilizados

#### Importando bibliotecas

In [145]:
# importando módulos
import pandas as pd
from unidecode import unidecode

#### Criando os DF com os dados csv

In [146]:
# lê arquivos
escolas = pd.read_csv("escolas.csv")
material_didatico = pd.read_csv("material_didatico.csv")
subprefeituras = pd.read_csv("subprefeituras.csv")

In [147]:
print(50*"*")
print("    DF ESCOLAS")
print(50*"-")
print(escolas.info())
print(50*"-")
print("\n")
display(escolas.head(5))
display(escolas.tail(5))
print(50*"*")

**************************************************
    DF ESCOLAS
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              152 non-null    int64
 1   Escolas_Postos  152 non-null    object
 2   BAIRRO          152 non-null    object
 3   ENDEREÇO        152 non-null    object
 4   lat             152 non-null    object
 5   lon             152 non-null    object
dtypes: int64(1), object(5)
memory usage: 7.2+ KB
None
--------------------------------------------------

,id,Escolas_Postos,BAIRRO,ENDEREÇO,lat,lon
0,178,CENTRO INTEGRADO DE EDUCAÇÃO PÚBLICA HENFIL,CAJU,Rua Carlos Seidl S/Nº,"-22,880888","-43,225326"
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,Rua Ébano 187,"-22,889574","-43,236202"
2,483,EM CELESTINO SILVA,CENTRO,"R. do Lavradio, 56","-22,909293","-43,183579"
3,476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,SÃO CRISTÓVÃO,Praça Argentina 20,"-22,897629","-43,227456"
4,132,EM PEREIRA PASSOS,RIO COMPRIDO,Praça Condessa Paulo de Frontin 45,"-22,924412","-43,208579"

,id,Escolas_Postos,BAIRRO,ENDEREÇO,lat,lon
147,474,EM ENGENHEIRO GASTÃO RANGEL,GUARATIBA,Estrada Do Magarça 9.183,"-22,98046","-43,643545"
148,301,EM JONATAS SERRANO,GUARATIBA,"Estrada Do Mato Alto, S/Nº","-22,953163","-43,577409"
149,215,E.M. NARCISA AMALIA,ILHA DE GUARATIBA,Estrada Teodoreto de Camargo S/N.º,"-23,009084","-43,537582"
150,606,EM PROFESSOR CASTILHO,ILHA DE GUARATIBA,Caminho da Matriz 4406,"-22,994124","-43,593683"
151,69,ESCOLA MUNICIPAL CARDEAL ARCOVERDE,MADUREIRA,Rua Agostinho Barbalho 401,"-22,876082","-43,343369"

**************************************************

In [148]:
print(50*"*")
print("    DF material_didatico")
print(50*"-")
print(material_didatico.info())
print(50*"-")
print("\n")
display(material_didatico.head(5))
display(material_didatico.tail(5))
print(50*"*")

**************************************************
    DF material_didatico
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          151 non-null    int64
 1   Quantidade  147 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.5+ KB
None
--------------------------------------------------

    id Quantidade
0  178         20
1  634        121
2  483        220
3  476        190
4  132         67

      id Quantidade
146  474        320
147  301        335
148  215        NaN
149  606        521
150  590        225

**************************************************

In [149]:
print(50*"*")
print("    DF subprefeituras")
print(50*"-")
print(subprefeituras.info())
print(50*"-")
print("\n")
display(subprefeituras.head(5))
display(subprefeituras.tail(5))
print(50*"*")

**************************************************
    DF subprefeituras
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nome           164 non-null    object
 1   subprefeitura  164 non-null    object
dtypes: object(2)
memory usage: 2.7+ KB
None
--------------------------------------------------

           nome subprefeitura
0  Santo Cristo        Centro
1        Gamboa        Centro
2         Saúde        Centro
3          Caju        Centro
4        Centro        Centro

                   nome subprefeitura
159          Santa Cruz    Zona Oeste
160           Guaratiba    Zona Oeste
161  Barra de Guaratiba    Zona Oeste
162  Pedra de Guaratiba    Zona Oeste
163   Ilha de Guaratiba    Zona Oeste

**************************************************

### Realizando a limpeza e tratamento dos dados

a.1) converter tipo coluna de objeto para inteiro
    - substituir NaN e None por 0
    - substituir '' e ' ' por 0
    - substituir 'NaN' por 0
    - converter valor numérico do tipo objeto para int (Ex.: '356' para 356)

#### Tratamento da tabela ```material_didatico```

In [150]:
material_didatico_copy_1 = material_didatico.copy()

In [151]:
# normalizar nomes das colunas
cols = material_didatico_copy_1.columns
for col in cols:
    material_didatico_copy_1.rename(columns={col: unidecode(col.lower().strip())}, inplace=True)

In [152]:
# remove valores nulos
material_didatico_copy_2 = material_didatico_copy_1.copy()
material_didatico_copy_2['quantidade'].fillna('0', inplace=True)

In [153]:
# converter todos os valores da coluna para int
material_didatico_copy_2['quantidade'] = material_didatico_copy_2['quantidade'].apply(lambda x: int(x) if x.isdigit() else 0)

In [154]:
# # Modo 2
# import re

# def normaliza_quantidade(valor) -> int:
#     if valor:
#         normaliza_valor = re.sub(r"[^\d: ]", "", valor.strip())
#         if normaliza_valor:
#             return int(normaliza_valor)
#         else:
#             return 0
#     else:
#         return 0
    
# material_didatico['quantidade'] = material_didatico['quantidade'].apply(lambda x: normaliza_quantidade(x))

In [155]:
material_didatico_copy_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          151 non-null    int64
 1   quantidade  151 non-null    int64
dtypes: int64(2)
memory usage: 2.5 KB

In [156]:
material_didatico_copy_2

      id  quantidade
0    178          20
1    634         121
2    483         220
3    476         190
4    132          67
..   ...         ...
146  474         320
147  301         335
148  215           0
149  606         521
150  590         225

[151 rows x 2 columns]

#### Tratamento da tabela ```subprefeitura```

In [157]:
subprefeituras_copy_1 = subprefeituras.copy()

In [158]:
# normalizar nomes das colunas
cols = subprefeituras_copy_1.columns
for col in cols:
    subprefeituras_copy_1.rename(columns={col: unidecode(col.lower().strip())}, inplace=True)

In [159]:
# converter letras em minúsculos e remover acentos
subprefeituras_copy_2 = subprefeituras_copy_1.copy()
subprefeituras_copy_2 = subprefeituras_copy_2.applymap(lambda x: unidecode(x.upper()))

In [160]:
subprefeituras_copy_2

                   nome subprefeitura
0          SANTO CRISTO        CENTRO
1                GAMBOA        CENTRO
2                 SAUDE        CENTRO
3                  CAJU        CENTRO
4                CENTRO        CENTRO
..                  ...           ...
159          SANTA CRUZ    ZONA OESTE
160           GUARATIBA    ZONA OESTE
161  BARRA DE GUARATIBA    ZONA OESTE
162  PEDRA DE GUARATIBA    ZONA OESTE
163   ILHA DE GUARATIBA    ZONA OESTE

[164 rows x 2 columns]

#### Tratamento da tabela ```escolas```

In [161]:
escolas_copy_1 = escolas.copy()

In [162]:
# normalizar nomes das colunas
cols = escolas_copy_1.columns
for col in cols:
    escolas_copy_1.rename(columns={col: unidecode(col.lower().strip())}, inplace=True)

In [163]:
# # normaliza coluna id (3 caracteres. Ex: '024')
# # Modo 1
# escolas_copy_2 = escolas_copy_1.copy()
# escolas_copy_2['id'] = escolas_copy_2['id'].apply(lambda x: str(x).zfill(3))

In [164]:
# # Modo 2
# escolas_copy_2_modo2 = escolas_copy_1.copy()
# escolas_copy_2_modo2['id'] = escolas_copy_2_modo2['id'].astype(str).str.zfill(3)

In [165]:
# Modo 1
# normalizar coluna lat com 5 casas decimais
escolas_copy_3 = escolas_copy_1.copy()
for col in ['lat', 'lon']:
    escolas_copy_3[col] = escolas_copy_3[col].str.replace(",", ".").astype(float).apply(lambda x: round(x, 5))

In [166]:
# # Modo 2
# # normalizar coluna lat com 5 casas decimais
# escolas_copy_3_modo2 = escolas_copy_2.copy()
# for col in ['lat', 'lon']:
#     escolas_copy_3_modo2[col] = escolas_copy_3_modo2[col].str.replace(",", ".").astype(float).round(5)

In [167]:
escolas_copy_4 = escolas_copy_3.copy()

In [168]:
# normalizar colunas (remove acentos e string em maiúsculo)
escolas_copy_4 = escolas_copy_3.copy()
escolas_copy_4[['escolas_postos', 'bairro', 'endereco']] = escolas_copy_4[['escolas_postos', 'bairro', 'endereco']].applymap(lambda x: unidecode(x.upper()))

##### Substituir abreviações de endereço

In [169]:
escolas_copy_5 = escolas_copy_4.copy()

In [170]:
# verificar possíveis abreviações
abreviacoes = set()

for i, linha_escola in escolas_copy_5.iterrows():
    lista_palavra_endereco = linha_escola['endereco'].split()
    for palavra in lista_palavra_endereco:
        if len(palavra) <= 3 and not palavra.isdigit():
            abreviacoes.update([palavra])

abreviacoes

{'ANA',
 'AV',
 'AV.',
 'DA',
 'DAS',
 'DE',
 'DO',
 'DOM',
 'DOS',
 'E',
 'JR',
 'KM',
 'PAU',
 'R.',
 'RIO',
 'RUA',
 'S/N',
 'SD.',
 'UBA'}

In [171]:
# verificar possíveis abreviações para logradouros
filtro_abreviacoes = [abreviacao for abreviacao in abreviacoes if abreviacao.startswith('R') or abreviacao.startswith('AV')]
filtro_abreviacoes

['AV.', 'AV', 'RIO', 'R.', 'RUA']

In [172]:
# normalizar coluna endereco (substituir abreviações de logradouro)
escolas_copy_5 = escolas_copy_4.copy()
escolas_copy_5['endereco'] = escolas_copy_5['endereco'].str.replace('R. ', 'RUA ', regex=True).replace('AV. ', 'AVENIDA ', regex=True).replace('AV ', 'AVENIDA ', regex=True)

In [173]:
display(escolas_copy_5.head(5))

,id,escolas_postos,bairro,endereco,lat,lon
0,178,CENTRO INTEGRADO DE EDUCACAO PUBLICA HENFIL,CAJU,RUA CARLOS SEIDL S/No,-22.88089,-43.22533
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,RUA EBANO 187,-22.88957,-43.23620
2,483,EM CELESTINO SILVA,CENTRO,"RUA DO LAVRADIO, 56",-22.90929,-43.18358
3,476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,SAO CRISTOVAO,PRACA ARGENTINA 20,-22.89763,-43.22746
4,132,EM PEREIRA PASSOS,RIO COMPRIDO,PRACA CONDESSA PAULO DE FRONTIN 45,-22.92441,-43.20858

In [174]:
escolas_copy_5.columns

Index(['id', 'escolas_postos', 'bairro', 'endereco', 'lat', 'lon'], dtype='object')

In [175]:
# valida normalização de abreviações do campo endereco
for i, linha_escola_2 in escolas_copy_5.iterrows():
    if linha_escola_2['endereco'].startswith('R. ')  or \
       linha_escola_2['endereco'].startswith('AV. ') or \
       linha_escola_2['endereco'].startswith('AV '):
        print(linha_escola_2)

##### Adicionar vírgula para o número do endereço e unificar os SN

In [176]:
import re
# Função para adicionar vírgula entre endereço e número
def add_comma_to_address(address):
    # Use expressões regulares para encontrar o número no final do endereço
    match = re.search(r'(\d+(\.\d+)?)$', address)
    
    if match:
        # Se um número for encontrado, adicione uma vírgula antes dele
        address_with_comma = re.sub(r'(\d+(\.\d+)?)$', r', \1', address)
        return address_with_comma
    else:
        return address

# Função para tratar as diversas maneiras de endereços sem numero para `SN``
def replace_s_n(text):
    # Lista de trechos a serem substituídos
    to_replace = ["S/No", "S/N.o", "S/N", "S/N.deg", "S/Ndeg"]
    
    # Substituir os trechos na string
    for item in to_replace:
        text = text.replace(item, ", SN")
    
    return text

In [177]:
escolas_copy_6 = escolas_copy_5.copy()

# Aplicar a função à coluna 'endereco' do DataFrame
escolas_copy_6['endereco'] = escolas_copy_6['endereco'].apply(add_comma_to_address)


escolas_copy_6.loc[:,'endereco'] = escolas_copy_6['endereco'].apply(replace_s_n)
# Exibir o DataFrame resultante
print(escolas_copy_6.head())

    id                               escolas_postos         bairro  \
0  178  CENTRO INTEGRADO DE EDUCACAO PUBLICA HENFIL           CAJU
1  634                   EM ALICE DO AMARAL PEIXOTO        BENFICA
2  483                           EM CELESTINO SILVA         CENTRO
3  476            ESCOLA MUNICIPAL FLORIANO PEIXOTO  SAO CRISTOVAO
4  132                            EM PEREIRA PASSOS   RIO COMPRIDO

                               endereco       lat       lon
0                 RUA CARLOS SEIDL , SN -22.88089 -43.22533
1                       RUA EBANO , 187 -22.88957 -43.23620
2                 RUA DO LAVRADIO, , 56 -22.90929 -43.18358
3                  PRACA ARGENTINA , 20 -22.89763 -43.22746
4  PRACA CONDESSA PAULO DE FRONTIN , 45 -22.92441 -43.20858

In [178]:
escolas_copy_6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              152 non-null    int64
 1   escolas_postos  152 non-null    object
 2   bairro          152 non-null    object
 3   endereco        152 non-null    object
 4   lat             152 non-null    float64
 5   lon             152 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 7.2+ KB

In [179]:
escolas_copy_6['endereco'].tail()

147           ESTRADA DO MAGARCA , 9.183
148           ESTRADA DO MATO ALTO, , SN
149    ESTRADA TEODORETO DE CAMARGO , SN
150             CAMINHO DA MATRIZ , 4406
151         RUA AGOSTINHO BARBALHO , 401
Name: endereco, dtype: object

In [180]:
endereco_series = escolas_copy_6['endereco']

#  str.replace() para substituir vírgulas repetidas
endereco_series = endereco_series.str.replace(r',+', ',')

# Atualize a coluna 'endereco' no DataFrame original
escolas_copy_6['endereco'] = endereco_series

In [181]:
endereco_series = escolas_copy_6['endereco']

condicao = endereco_series.str.count(',') > 1


endereco_series.loc[condicao] = endereco_series.loc[condicao].str.replace(', ', ',')
escolas_copy_6['endereco'] = endereco_series

endereco_series.loc[condicao] = endereco_series.loc[condicao].str.replace(',,', ',')
escolas_copy_6['endereco'] = endereco_series


endereco_series.loc[condicao] = endereco_series.loc[condicao].str.replace(' ,', ',')
escolas_copy_6['endereco'] = endereco_series

/tmp/ipykernel_24609/2775576906.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  endereco_series.loc[condicao] = endereco_series.loc[condicao].str.replace(', ', ',')
/tmp/ipykernel_24609/2775576906.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  endereco_series.loc[condicao] = endereco_series.loc[condicao].str.replace(',,', ',')
/tmp/ipykernel_24609/2775576906.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  endereco_series.loc[condicao] = endereco_series.loc[condicao].str.replace(' ,', ',')

In [182]:
escolas_copy_6['endereco'].head(10)

0                   RUA CARLOS SEIDL , SN
1                         RUA EBANO , 187
2                      RUA DO LAVRADIO,56
3                    PRACA ARGENTINA , 20
4    PRACA CONDESSA PAULO DE FRONTIN , 45
5                   RUA BARAO DA TORRE,90
6                 RUA EDUARDO SANTOS , 38
7          AVENIDA PRESIDENTE VARGAS , SN
8                     RUA ANA NERUA , 192
9                    RUA HADDOCK LOBO,148
Name: endereco, dtype: object

In [183]:
escolas_copy_6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              152 non-null    int64
 1   escolas_postos  152 non-null    object
 2   bairro          152 non-null    object
 3   endereco        152 non-null    object
 4   lat             152 non-null    float64
 5   lon             152 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 7.2+ KB

##### quebrando coluna endereco em logradouro e numero

In [184]:
# Use str.split() para dividir a coluna 'endereco'
escolas_copy_6[['logradouro', 'numero']] = escolas_copy_6['endereco'].str.split(',', n=1, expand=True)

escolas_copy_6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              152 non-null    int64
 1   escolas_postos  152 non-null    object
 2   bairro          152 non-null    object
 3   endereco        152 non-null    object
 4   lat             152 non-null    float64
 5   lon             152 non-null    float64
 6   logradouro      152 non-null    object
 7   numero          148 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 9.6+ KB

In [185]:
# substitui endereços sem número informado no campo numero
escolas_copy_6['numero'].fillna('Não informado', inplace=True)

In [186]:
# verifica se preencher os campos None
display(escolas_copy_6[escolas_copy_6['numero'].isna()])

print(escolas_copy_6.info())

Empty DataFrame
Columns: [id, escolas_postos, bairro, endereco, lat, lon, logradouro, numero]
Index: []

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              152 non-null    int64
 1   escolas_postos  152 non-null    object
 2   bairro          152 non-null    object
 3   endereco        152 non-null    object
 4   lat             152 non-null    float64
 5   lon             152 non-null    float64
 6   logradouro      152 non-null    object
 7   numero          152 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 9.6+ KB
None

In [189]:
# visualiza escola com endereço errado
display(escolas_copy_6[escolas_copy_6['id'] == 260])

# conserta endereço errado do colégio (Modo 1)
idx = escolas_copy_6.index[escolas_copy_6.id == 260]
escolas_copy_6.loc[idx, 'logradouro'] = escolas_copy_6.loc[idx]['logradouro'].str.split("4040").item()[1]
escolas_copy_6.loc[idx]

,id,escolas_postos,bairro,endereco,lat,lon,logradouro,numero
68,260,EM PROFESSOR JOSUE DE CASTRO,BONSUCESSO,AVENIDA BRASIL 4040 RUA DA VITORIA,-22.87374,-43.24071,AVENIDA BRASIL 4040 RUA DA VITORIA,Não informado

,id,escolas_postos,bairro,endereco,lat,lon,logradouro,numero
68,260,EM PROFESSOR JOSUE DE CASTRO,BONSUCESSO,AVENIDA BRASIL 4040 RUA DA VITORIA,-22.87374,-43.24071,RUA DA VITORIA,Não informado

In [ ]:
# # Modo 2
# escolas_copy_6 = escolas_copy_6.loc[idx].assign(logradouro='RUA DA VITORIA')
# escolas_copy_6

## Faltam os seguintes tratamentos:

- tratar as linhas com mais de uma vírgula separando o número do endereço
- separar logradouro e número do endereço em colunas distintas


Saída esperada: 

    Arquivo csv contendo os dados no padrão especificado

    As escolas ordenadas em que os materiais didáticos devem ser entregues e com as colunas contendo as colunas:
````
['id_da_escola', 'nome_da_escola', 'tipo_da_escola', 'logradouro', 'numero', 'bairro', 'subprefeitura', 'latitude', 'longitude', 'quantidade_de_material']
````

In [190]:
# listar tipos das escolas
inicio = list()
escolas_copy_7 = escolas_copy_6.copy()
escolas_copy_7['escolas_postos'].apply(lambda x: inicio.append((x.split())[0]))
set(inicio)

{'CENTRO', 'CIEP', 'COLEGIO', 'E.M', 'E.M.', 'EM', 'EM.', 'ESCOLA'}

In [191]:
# {'CENTRO', 'CIEP', 'COLEGIO', 'E.M', 'E.M.', 'EM', 'EM.', 'ESCOLA'}
def mapear_tipo_escola(nome_da_escola: str):
    if nome_da_escola.startswith(("CIEP", "CENTRO")):
        return "CIEP"
    elif nome_da_escola.startswith("COLEGIO"):
        return "COLEGIO"
    elif nome_da_escola.replace(".", "").startswith(("ESCOLA", "EM")):
        return "EM"
    else:
        return None # Caso padrão, ou seja, nenhum valor encontrado

escolas_copy_7 = escolas_copy_6.copy()
escolas_copy_7['tipo_escola'] = escolas_copy_7['escolas_postos'].apply(mapear_tipo_escola)
escolas_copy_7

,id,escolas_postos,bairro,endereco,lat,lon,logradouro,numero,tipo_escola
0,178,CENTRO INTEGRADO DE EDUCACAO PUBLICA HENFIL,CAJU,"RUA CARLOS SEIDL , SN",-22.88089,-43.22533,RUA CARLOS SEIDL,SN,CIEP
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,"RUA EBANO , 187",-22.88957,-43.23620,RUA EBANO,187,EM
2,483,EM CELESTINO SILVA,CENTRO,"RUA DO LAVRADIO,56",-22.90929,-43.18358,RUA DO LAVRADIO,56,EM
3,476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,SAO CRISTOVAO,"PRACA ARGENTINA , 20",-22.89763,-43.22746,PRACA ARGENTINA,20,EM
4,132,EM PEREIRA PASSOS,RIO COMPRIDO,"PRACA CONDESSA PAULO DE FRONTIN , 45",-22.92441,-43.20858,PRACA CONDESSA PAULO DE FRONTIN,45,EM
...,...,...,...,...,...,...,...,...,...
147,474,EM ENGENHEIRO GASTAO RANGEL,GUARATIBA,"ESTRADA DO MAGARCA , 9.183",-22.98046,-43.64355,ESTRADA DO MAGARCA,9.183,EM
148,301,EM JONATAS SERRANO,GUARATIBA,"ESTRADA DO MATO ALTO,SN",-22.95316,-43.57741,ESTRADA DO MATO ALTO,SN,EM
149,215,E.M. NARCISA AMALIA,ILHA DE GUARATIBA,"ESTRADA TEODORETO DE CAMARGO , SN",-23.00908,-43.53758,ESTRADA TEODORETO DE CAMARGO,SN,EM
150,606,EM PROFESSOR CASTILHO,ILHA DE GUARATIBA,"CAMINHO DA MATRIZ , 4406",-22.99412,-43.59368,CAMINHO DA MATRIZ,4406,EM
151,69,ESCOLA MUNICIPAL CARDEAL ARCOVERDE,MADUREIRA,"RUA AGOSTINHO BARBALHO , 401",-22.87608,-43.34337,RUA AGOSTINHO BARBALHO,401,EM

In [192]:
# valida tratamento para obter tipo da escola
print(escolas_copy_7.info())
display(escolas_copy_7['tipo_escola'].value_counts().reset_index())
display(escolas_copy_7['tipo_escola'].value_counts(normalize=True).round(2).reset_index())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              152 non-null    int64
 1   escolas_postos  152 non-null    object
 2   bairro          152 non-null    object
 3   endereco        152 non-null    object
 4   lat             152 non-null    float64
 5   lon             152 non-null    float64
 6   logradouro      152 non-null    object
 7   numero          152 non-null    object
 8   tipo_escola     152 non-null    object
dtypes: float64(2), int64(1), object(6)
memory usage: 10.8+ KB
None

  tipo_escola  count
0          EM    129
1        CIEP     22
2     COLEGIO      1

  tipo_escola  proportion
0          EM        0.85
1        CIEP        0.14
2     COLEGIO        0.01

In [196]:
# verifica quantidade de dados duplicados
# escola
print(escolas_copy_7['id'].duplicated().sum())

# material didatico
print(material_didatico_copy_2['id'].duplicated().sum())

# subprefeitura
print(subprefeituras_copy_2.duplicated().sum())

16
0
0

In [200]:
escolas_copy_7.drop_duplicates(inplace=True)

In [201]:
# valida se dados duplicados foram descartados
display(escolas_copy_7[escolas_copy_7.duplicated()])

Empty DataFrame
Columns: [id, escolas_postos, bairro, endereco, lat, lon, logradouro, numero, tipo_escola]
Index: []

In [205]:
display(escolas_copy_7[escolas_copy_7['id'].duplicated(keep=False)])

,id,escolas_postos,bairro,endereco,lat,lon,logradouro,numero,tipo_escola
14,413,EM COCIO BARCELOS,COPACABANA,"RUA BARAO DE IPANEMA,34",-2.297483e+01,-4.318906e+01,RUA BARAO DE IPANEMA,34,EM
15,413,EM COCIO BARCELOS,COPACABANA,"RUA BARAO DE IPANEMA,34",-2.274828e+01,-4.318906e+01,RUA BARAO DE IPANEMA,34,EM
99,206,EM HONDURAS,PRACA SECA,"PRACA BARAO DA TAQUARUA , 12",-2.289693e+01,-4.335267e+01,PRACA BARAO DA TAQUARUA,12,EM
117,206,EM HONDURAS,PRACA SECA,"PRACA BARAO DA TAQUARUA , 12",-2.289693e+07,-4.335267e+07,PRACA BARAO DA TAQUARUA,12,EM

In [207]:
escolas_copy_7.drop_duplicates(subset='id', keep='first', inplace=True)

In [208]:
# valida remoção de todos dados duplicados
escolas_copy_7['id'].duplicated().sum()

0

In [211]:
# verifica quantidade final de escolas cadastradas
escolas_copy_7.info()

<class 'pandas.core.frame.DataFrame'>
Index: 136 entries, 0 to 150
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              136 non-null    int64
 1   escolas_postos  136 non-null    object
 2   bairro          136 non-null    object
 3   endereco        136 non-null    object
 4   lat             136 non-null    float64
 5   lon             136 non-null    float64
 6   logradouro      136 non-null    object
 7   numero          136 non-null    object
 8   tipo_escola     136 non-null    object
dtypes: float64(2), int64(1), object(6)
memory usage: 10.6+ KB

In [216]:
# aplica merge entre as tabelas
escolas_copy_8 = escolas_copy_7.copy()
escolas_copy_9 = escolas_copy_8.merge(material_didatico_copy_2, how='inner', on='id')
escolas_copy_9

,id,escolas_postos,bairro,endereco,lat,lon,logradouro,numero,tipo_escola,quantidade
0,178,CENTRO INTEGRADO DE EDUCACAO PUBLICA HENFIL,CAJU,"RUA CARLOS SEIDL , SN",-22.88089,-43.22533,RUA CARLOS SEIDL,SN,CIEP,20
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,"RUA EBANO , 187",-22.88957,-43.23620,RUA EBANO,187,EM,121
2,483,EM CELESTINO SILVA,CENTRO,"RUA DO LAVRADIO,56",-22.90929,-43.18358,RUA DO LAVRADIO,56,EM,220
3,476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,SAO CRISTOVAO,"PRACA ARGENTINA , 20",-22.89763,-43.22746,PRACA ARGENTINA,20,EM,190
4,132,EM PEREIRA PASSOS,RIO COMPRIDO,"PRACA CONDESSA PAULO DE FRONTIN , 45",-22.92441,-43.20858,PRACA CONDESSA PAULO DE FRONTIN,45,EM,67
...,...,...,...,...,...,...,...,...,...,...
131,210,EM DEBORA MENDES DE MORAES,PEDRA DE GUARATIBA,"RUA BELCHIOR DA FONSECA , 643",-23.00142,-43.63876,RUA BELCHIOR DA FONSECA,643,EM,570
132,474,EM ENGENHEIRO GASTAO RANGEL,GUARATIBA,"ESTRADA DO MAGARCA , 9.183",-22.98046,-43.64355,ESTRADA DO MAGARCA,9.183,EM,320
133,301,EM JONATAS SERRANO,GUARATIBA,"ESTRADA DO MATO ALTO,SN",-22.95316,-43.57741,ESTRADA DO MATO ALTO,SN,EM,335
134,215,E.M. NARCISA AMALIA,ILHA DE GUARATIBA,"ESTRADA TEODORETO DE CAMARGO , SN",-23.00908,-43.53758,ESTRADA TEODORETO DE CAMARGO,SN,EM,0
135,606,EM PROFESSOR CASTILHO,ILHA DE GUARATIBA,"CAMINHO DA MATRIZ , 4406",-22.99412,-43.59368,CAMINHO DA MATRIZ,4406,EM,521

In [219]:
escolas_copy_9[escolas_copy_9['quantidade'] == 0]

,id,escolas_postos,bairro,endereco,lat,lon,logradouro,numero,tipo_escola,quantidade
14,413,EM COCIO BARCELOS,COPACABANA,"RUA BARAO DE IPANEMA,34",-22.97483,-43.18906,RUA BARAO DE IPANEMA,34,EM,0
28,60,ESCOLA MUNICIPAL BARAO HOMEM DE MELO,MARACANA/ TIJUCA,"RUA ALM. JOAO CANDIDO BRASIL,352",-22.91683,-43.23692,RUA ALM. JOAO CANDIDO BRASIL,352,EM,0
35,429,EM FELIX PACHECO,PIEDADE,"RUA ASSIS CARNEIRO,649",-22.89509,-43.31383,RUA ASSIS CARNEIRO,649,EM,0
62,260,EM PROFESSOR JOSUE DE CASTRO,BONSUCESSO,AVENIDA BRASIL 4040 RUA DA VITORIA,-22.87374,-43.24071,RUA DA VITORIA,Não informado,EM,0
71,91,E.M. PIAUI,GUADALUPE,"AVENIDA BRASIL , 23.364",-22.84541,-43.37852,AVENIDA BRASIL,23.364,EM,0
77,412,EM MOZART LAGO,OSWALDO CRUZ,"RUA JOSE CARVALHO SALGADO , SN",-22.87221,-43.35033,RUA JOSE CARVALHO SALGADO,SN,EM,0
91,492,EM MENEZES CORTES,FREGUESIA JPA,"PRACA JOSE ALVES DE AZEVEDO , 43",-22.94265,-43.33897,PRACA JOSE ALVES DE AZEVEDO,43,EM,0
106,687,EM TASSO DA SILVEIRA,REALENGO,"RUA GENERAL BERNARDINO DE MATOS , SN",-22.88386,-43.41733,RUA GENERAL BERNARDINO DE MATOS,SN,EM,0
127,297,EM PROFESSORA SILVIA DE ARAUJO TOLEDO,SANTA CRUZ,"AVENIDA CANAL 3 , SN CONJ. CESARAO",-22.93011,-43.65290,AVENIDA CANAL 3,SN CONJ. CESARAO,EM,0
134,215,E.M. NARCISA AMALIA,ILHA DE GUARATIBA,"ESTRADA TEODORETO DE CAMARGO , SN",-23.00908,-43.53758,ESTRADA TEODORETO DE CAMARGO,SN,EM,0

In [226]:
escolas_copy_7[escolas_copy_7['id'] == 413]

,id,escolas_postos,bairro,endereco,lat,lon,logradouro,numero,tipo_escola
14,413,EM COCIO BARCELOS,COPACABANA,"RUA BARAO DE IPANEMA,34",-22.97483,-43.18906,RUA BARAO DE IPANEMA,34,EM

In [224]:
material_didatico_copy_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          151 non-null    int64
 1   quantidade  151 non-null    int64
dtypes: int64(2)
memory usage: 2.5 KB

In [227]:
material_didatico_copy_2[material_didatico_copy_2['id'] == 413]

     id  quantidade
14  413           0

In [242]:
escolas_copy_8

,id,escolas_postos,bairro,endereco,lat,lon,logradouro,numero,tipo_escola,quantidade
0,178,CENTRO INTEGRADO DE EDUCACAO PUBLICA HENFIL,CAJU,"RUA CARLOS SEIDL , SN",-22.88089,-43.22533,RUA CARLOS SEIDL,SN,CIEP,20
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,"RUA EBANO , 187",-22.88957,-43.23620,RUA EBANO,187,EM,121
2,483,EM CELESTINO SILVA,CENTRO,"RUA DO LAVRADIO,56",-22.90929,-43.18358,RUA DO LAVRADIO,56,EM,220
3,476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,SAO CRISTOVAO,"PRACA ARGENTINA , 20",-22.89763,-43.22746,PRACA ARGENTINA,20,EM,190
4,132,EM PEREIRA PASSOS,RIO COMPRIDO,"PRACA CONDESSA PAULO DE FRONTIN , 45",-22.92441,-43.20858,PRACA CONDESSA PAULO DE FRONTIN,45,EM,67
...,...,...,...,...,...,...,...,...,...,...
147,210,EM DEBORA MENDES DE MORAES,PEDRA DE GUARATIBA,"RUA BELCHIOR DA FONSECA , 643",-23.00142,-43.63876,RUA BELCHIOR DA FONSECA,643,EM,570
148,474,EM ENGENHEIRO GASTAO RANGEL,GUARATIBA,"ESTRADA DO MAGARCA , 9.183",-22.98046,-43.64355,ESTRADA DO MAGARCA,9.183,EM,320
149,301,EM JONATAS SERRANO,GUARATIBA,"ESTRADA DO MATO ALTO,SN",-22.95316,-43.57741,ESTRADA DO MATO ALTO,SN,EM,335
150,215,E.M. NARCISA AMALIA,ILHA DE GUARATIBA,"ESTRADA TEODORETO DE CAMARGO , SN",-23.00908,-43.53758,ESTRADA TEODORETO DE CAMARGO,SN,EM,0
151,606,EM PROFESSOR CASTILHO,ILHA DE GUARATIBA,"CAMINHO DA MATRIZ , 4406",-22.99412,-43.59368,CAMINHO DA MATRIZ,4406,EM,521

In [ ]:
escolas_copy_8 = escolas_copy_8.merge(subprefeituras_copy_2, how='inner')
escolas_copy_8

In [ ]:
# # normaliza coluna id (3 caracteres. Ex: '024')
# # Modo 1
# escolas_copy_2 = escolas_copy_1.copy()
# escolas_copy_2['id'] = escolas_copy_2['id'].apply(lambda x: str(x).zfill(3))

In [41]:
colunas=['id_da_escola', 'nome_da_escola', 'tipo_da_escola', 'logradouro', 'numero', 'bairro', 'subprefeitura', 'latitude', 'longitude', 'quantidade_de_material']
df_final=pd.DataFrame(columns=colunas)

In [52]:
df_final['id_da_escola']=escolas_copy_7['id']
df_final['nome_da_escola']=escolas_copy_7['escolas_postos']
df_final['tipo_da_escola']=escolas_copy_7['tipo_escola']
df_final['logradouro']=escolas_copy_7['logradouro']
df_final['numero']=escolas_copy_7['numero']
df_final['bairro']=escolas_copy_7['bairro']
df_final['subprefeitura']=""
df_final['latitude']=escolas_copy_7['lat']
df_final['longitude']=escolas_copy_7['lon']
df_final['quantidade_de_material']=""
df_final['tipo_escola'] = df_final['nome_da_escola'].apply(mapear_tipo_escola)

In [54]:
df_final['tipo_escola'].unique()

array(['CIEP', None, 'EM'], dtype=object)

In [46]:
subdata=df_final[['id_da_escola','nome_da_escola']]

um arquivo csv no as linhas já estarão ordenas de acordo com a rota a ser seguida. Além disso, os dados devem estar no padrão especificado abaixo e contendo as seguintes colunas: id da escola, nome da escola, tipo da escola (EM, CIEP ou colégio), logradouro da entrega, número, bairro, subprefeitura, latitude, longitude e quantidade de material didático que deve ser entregue. O logradouro da escola deve estar em uma coluna diferente do número;
````
CIEP - CENTRO INTEGRADO DE EDUCACAO PUBLICA
EM - ESCOLA MUNICIPAL
COLÉGIO - COLÉGIO
`````



um arquivo csv com a quantidade total de material escolar por subprefeitura para que sejam contabilizados os custos por subprefeitura

In [49]:
# Use str.contains() para encontrar as linhas com 'colegio'
subdata[subdata['nome_da_escola'].str.contains('colegio', case=False)]

# Exiba as linhas encontradas
print(linhas_com_colegio)

    id_da_escola                               nome_da_escola
125          320  COLEGIO MUNICIPAL PRESIDENTE ANTONIO CARLOS