# Analisando os dados disponibilizados

### 1) Importar bibliotecas

### 2) Ler dados brutos

In [54]:
escolas = pd.read_csv("dados_brutos/escolas.csv")

material_didatico = pd.read_csv("dados_brutos/material_didatico.csv")

subprefeituras = pd.read_csv("dados_brutos/subprefeituras.csv")

### 3) Criar cópias dos DFs

In [55]:
subprefeituras_copia = subprefeituras.copy()

In [56]:
material_didatico_copia = material_didatico.copy()

In [57]:
escolas_copia = escolas.copy()

### 4) Tratamento dos DFs

#### 4.1) Tratamento geral

1) aplicar lower para todas as colunas
2) nome das colunas em snake_case
3) strings não devem conter acentos
4) todas as strings devem estar em maiúsculo

In [58]:
def renomear_colunas(df):
    new_columns = {col: unidecode(col.lower()) for col in df.columns}
    df.rename(columns=new_columns, inplace=True)
    for col in df.columns:
        df[col] = df[col].apply(lambda x: unidecode(str(x).upper())) if df[col].dtypes == 'object' else df[col]

In [59]:
dfs = [escolas_copia, material_didatico_copia, subprefeituras_copia]

for df in dfs:
    renomear_colunas(df)
    display(df.head(5))

,id,escolas_postos,bairro,endereco,lat,lon
0,178,CENTRO INTEGRADO DE EDUCACAO PUBLICA HENFIL,CAJU,RUA CARLOS SEIDL S/No,"-22,880888","-43,225326"
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,RUA EBANO 187,"-22,889574","-43,236202"
2,483,EM CELESTINO SILVA,CENTRO,"R. DO LAVRADIO, 56","-22,909293","-43,183579"
3,476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,SAO CRISTOVAO,PRACA ARGENTINA 20,"-22,897629","-43,227456"
4,132,EM PEREIRA PASSOS,RIO COMPRIDO,PRACA CONDESSA PAULO DE FRONTIN 45,"-22,924412","-43,208579"

    id quantidade
0  178         20
1  634        121
2  483        220
3  476        190
4  132         67

           nome subprefeitura
0  SANTO CRISTO        CENTRO
1        GAMBOA        CENTRO
2         SAUDE        CENTRO
3          CAJU        CENTRO
4        CENTRO        CENTRO

### 4.2) Tratamento para material didático

In [60]:
# remove valores nulos
material_didatico_copia['quantidade'].fillna('0', inplace=True)

In [62]:
# verifica valores diferentes de números
for i, row in material_didatico_copia.iterrows():
    qnt = row['quantidade']
    if not qnt.isdigit():
        print(qnt)

''
'NAN'
NAN
'397'
'NAN'
'395'
NAN
NAN
' '
NAN

In [52]:
# converte todos os valores da coluna para int (Modo 1)
material_didatico_copia['quantidade'] = material_didatico_copia['quantidade'].apply(lambda x: int(x) if x.isdigit() else 0)

In [ ]:
# # Modo 2
# import re

# def normaliza_quantidade(valor) -> int:
#     if valor:
#         normaliza_valor = re.sub(r"[^\d: ]", "", valor.strip())
#         if normaliza_valor:
#             return int(normaliza_valor)
#         else:
#             return 0
#     else:
#         return 0
    
# material_didatico['quantidade'] = material_didatico['quantidade'].apply(lambda x: normaliza_quantidade(x))

In [ ]:
# filtra dataframe com quantidade de material diferente de zero
material_didatico_copia = material_didatico_copia[material_didatico_copia['quantidade'] != 0]